<% if @stat.errors.any? %>
  <ul>
    <% @stat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @stat do |f| %>
  <p>
    <%= f.label :lift %><br>
    <%= f.select :lift, ['Bench', 'Decline Bench', 'Incline Bench', 'Squat', 'Deadlift', 'Clean', 'Overhead Press', 'Curl']%>
  </p>

  <p>
    <%= f.label :reps %><br>
    <%= f.number_field :reps %>
  </p>
 
  <p>
    <%= f.label :pounds %><br>
    <%= f.number_field :pounds %>
  </p>

  <%= f.hidden_field :user_id, :value => @stat.user_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
